on:
  - push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Racket
        uses: Bogdanp/setup-racket@v0.11
        with:
          architecture: 'x64'
          distribution: 'full'
          version: '8.2'
      - name: Install Package and its Dependencies
        run: raco pkg install --auto --batch
      - name: Run Tests
        run: raco test main.rkt